@import '../../base.scss';

.gifs{
   margin-bottom: 1rem;
   padding: 1 rem;
   cursor: pointer;

   &__top {
      margin-bottom: 0.5rem;
      position: relative;
      
      img {
         width: 100%;
      }
    }
    
   
}
