@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import "../../giphy/src/base";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto', sans-serif;
}




@keyframes move {
    0% {
        background-position: -1000px 0;
    }
    50%,
    100% {
        background-position: 1000px 0;
    }
    100% {
        background-position: -1000px 0;
    }
}

@keyframes translate {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(10px);
    }
}

header {
    height: 100px;
    width: 400px; /** Use 100% to fill the width of the page **/
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding:5px;
}




.gif-wrap {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // place-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    cursor: pointer;
}

div.gif-card {
    /* flex: 0 1 300px; */
    /* no stretch */
    flex: 1 1 300px;
    /* stretch */
    margin: 5px;
}

a,
img {
    width: 100%;
    object-fit: cover;
    /* aspect-ratio: 16 / 9; */
}


.pagination {
        height: 100px;
        width: 100px; 
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding:5px;
        cursor: pointer;
    
}

.gif-search {
    flex: 0.9;
        display: inline-flex;
        padding:10px;
        background-color:transparent;
}

.gif-search input {
    outline: none;
    justify-content:space-between;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5rem;
    
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.98);
}

.gif-search img {
    object-fit: cover;
    padding: 0 5px;
    animation: enter 3s linear infinite;
}

button {
    outline: none;
    transition: transform .6s ease-in-out;
}

.gif-download {
    background: transparent;
    border: none;
    
}
.gif-btn-submit {
    border: 1px;
    background: grey;
}

.gif-btn-trending {
    cursor: pointer;
    border: none;
    position: inherit;
    padding: 10px;
    margin-bottom: 25px;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.logout{
    cursor: pointer;
    border: none;
    position: relative;
    padding: 10px;
    
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

// div.gif-trend-search {
//     width: 350px;
//     margin: 20px auto;
// }


@keyframes enter {
    0% {
        transform: translateX(-5px)
    }
    50%,
    100% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-5px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}